.container {
    width: 1000px;
    margin: 0 auto ;
}

.input-container {
    padding: 50px 0;
    width: 800px;
    margin: 0 auto;
}

#secondInput {
    float: right;
}

body { 
    background-color: rgb(240, 194, 234);
    margin: 0;
}


